<div class="container m-2">
  <h2>Fähigkeit hinzufügen</h2>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">

    <mat-form-field class="m-2" >
      <mat-label for="name">Skillname</mat-label>
      <input matInput type="text" id="name" name="name" [(ngModel)]="formData.name" class="w-auto" maxlength="50" #name="ngModel" required>
      <mat-error *ngIf="name.errors?.['required'] && name.touched">
        Skillname ist erforderlich.
      </mat-error>
      <mat-error *ngIf="name.errors?.['maxlength']">
        Skillname darf maximal 50 Zeichen lang sein.
      </mat-error>
    </mat-form-field>
    <div class="m-2">
      <button mat-raised-button type="submit" [disabled]="myForm.invalid"
              class="my-2 me-2" color="primary">{{ editMode ? 'Anpassen' : 'Hinzufügen' }}</button>
      <button mat-raised-button routerLink="/skill" class="my-2 ms-2" color="warn">Zurück</button>
    </div>

  </form>

</div>
