.active {
  font-weight: bold;
  background-color: dimgray;

}

.active-sidenav {
  background-color: lightgray;
}

.sidenav-container {
  min-height: 1200px;
}

.pointer-cursor {
  cursor: pointer;
}
