<form [formGroup]=employeeKnowledgeForm (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Fähigkeit</mat-label>
    <mat-select formControlName="skillId">
      <ng-container *ngFor="let skill of filteredSkillsList$ | async">
        <mat-option [value]="skill.id" [disabled]="skill.disabled" >{{skill.name}} (id: {{skill.id}})</mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="employeeKnowledgeForm.get('skillId')?.invalid && employeeKnowledgeForm.get('skillId')?.touched">
      Fähigkeit ist erforderlich.
    </mat-error>
  </mat-form-field>

  <p>Skilllevel: {{employeeKnowledgeForm.get('experienceLevel')?.value}}</p>
  <mat-slider min="1" max="10" step="1" showTickMarks >
    <input matSliderThumb value="5" formControlName="experienceLevel">
  </mat-slider>



  <div class="m-2">
    <button mat-raised-button type="submit" [disabled]="employeeKnowledgeForm.invalid"
            class="my-2 me-2" color="primary"> {{isAddNewComponent? "Hinzufügen":"Speichern"}} </button>

    <button mat-raised-button class="my-2 ms-2" color="warn" *ngIf="!isAddNewComponent" (click)="onDelete()">Löschen</button>
  </div>

</form>

